RewriteEngine on
RewriteCond %{HTTP_HOST} ^tmadephoto\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tmadephoto\.com$
RewriteRule ^gallery\/?(.*)$ "http\:\/\/gallery\.tmadephoto\.com\/$1" [R=301,L]

#RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

