body {
	background-color: rgb(230,230,230);
	background-image: url("images/flowers.jpg");
	background-size: cover;
	margin: 0;
	font-family: 'Arizonia', Helvetica, sans-serif; 
	font-weight: bold;
}

header {
	margin: 0;
	width: 100%;
}

.top {
	display: inline-block;
	width: 100%;
	margin: 0;
}

.top p {
	font-size: 1.7em;
	float: right;
	padding-right: 1em;
	padding-top: .5em;
	margin: 0;
}

#motto {
	font-family: 'Great Vibes', Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
	background-color: tan;
	color: rgb(70,70,70);
	margin: 0;
	padding-top: 7px;
	padding-bottom: 3px;
	width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
	background-color: wheat;
	list-style-type: none;
	display: flex;
}

nav li {
	width: 25%
}

nav li a {
	display: block;
    color: saddlebrown;
    text-align: center;
    text-decoration: none;
	font-size: 1.5em;
}

nav li a:hover {
    background-color: tan;
}
	